.titulo-batman {
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 3px solid #f1c40f;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 20px;
  color: azure;
}

h1.titulo-batman {
  font-size: 40px;
}
h2.titulo-batman {
  font-size: 32px;
}
h3.titulo-batman {
  font-size: 26px;
}
h4.titulo-batman {
  font-size: 20px;
}

.texto-batman {
  color: azure;
  font-size: 18px;
  line-height: 1.6;
  margin: 20px auto;
  max-width: 800px;
  display: block;
}

.secao-batman {
  background-color: #111;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
}

.tema-batman {
  background-color: #0d0d0d;
  color: #f1c40f;
  font-family: "Segoe UI", sans-serif;
}

.linha-batman {
  border: none;
  height: 3px;
  width: 60%;
  background-color: #f1c40f;
  color: azure;
  margin: 30px auto;
}

.img-batman {
  width: 320px;
  border-radius: 8px;
  border: 2px solid #f1c40f;
  box-shadow: 0 0 15px rgba(241, 196, 15, 0.5);
  transition: 0.3s;
}

.img-batman:hover {
  transform: scale(1.05);
}
